body {
    margin: 0;
}
#hud {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    grid-template-columns: 90px 50px;
    background-color: rgba(65,105,225, 0.5);
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    font-family: "Open Sans SemiBold", sans-serif;
}