body {
    margin: 0;
}
#hud {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    grid-template-columns: 90px 50px;
    background-color: rgba(65,105,225, 0.6);
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    font-family: "Open Sans SemiBold", sans-serif;
}

#open-settings-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(65,105,225, 0.6);
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    font-family: "Open Sans SemiBold", sans-serif;
    cursor: pointer;
}

#open-settings-btn:hover {
    background-color: rgba(65,105,225, 0.7);
}

#settings {
    position: fixed;
    top: 0;
    left: -340px;
    bottom: 0;
    width: 275px;
    //background-color: rgba(65,105,225, 0.5);
    background-image: linear-gradient(to right, rgba(65,105,225, 1), rgba(65,105,225, 0.9), rgba(65,105,225, 0.8));
    padding: 20px;
    padding-right: 45px;
    color: whitesmoke;
    font-size: 12pt;
    font-family: "Open Sans SemiBold", sans-serif;
    overflow-y: auto;
}

#settings input,textarea {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border: 2px solid black;
    font-size: 12pt;
    font-family: "Open Sans SemiBold", sans-serif;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
}
#settings input:focus {
    outline: none !important;
    border:2px solid rgb(65,105,225);
    box-shadow: 0 0 10px black;
}
#settings textarea:focus {
    outline: none !important;
    border:2px solid rgb(65,105,225);
    box-shadow: 0 0 10px black;
}
#settings label {
    margin-top: 10px;
    display:inline-block;
}

#settings .btn {
    display: inline-block;
    border: 1px solid rgb(29, 53, 121);
    border-radius: 10px;
    padding: 7px;
    padding-bottom: 4px;
    width: 50px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(29, 53, 121);
    color: whitesmoke;
}

#settings .btn:hover {
    background-color: rgb(39, 67, 146);
    border: 1px solid whitesmoke;
}

#settings hr {
    border: 1px solid rgba(0,0,0, 0.4);
    margin-top: 20px !important;
}